* {
    box-sizing: border-box;
    margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper__header {
    width: 464px;
    height: 203px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.title {
    color: #55b2e4;
    font-size: 13px;
    font-weight: 700;
}

.subtitle {
    font-size: 8px;
    padding-left: 5px;
}

.divideLine{
    width: 100%;
    border-top: 1px solid gray;
}

.albumWrapper {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.albumBox {
    width: 120px;
    height: 158px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.albumImg {
    width: 120px;
    height: 120px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.album-songtitle {
    font-size: 11px;
    font-weight: 700;
    color: #0F465E;
    margin-top: 9px;
}

.album-artist {
    font-size: 10px;
    font-weight: 700;
    color: #999999;
}

.wrapper__body {
    width: 100%;
}

.albumTable {
    width: 100%;
    border-spacing: 0px;
    padding-top: 8px;
}

.albumTable th {
    height: 20px;
    font-size: 10px;
    font-weight: bold;
    color: gray;
    background-color: #EEEEEE;
    padding-top: 5px;
    border-top: 1px solid gray;
    border-bottom: 1px dashed gray;
}

.albumTable td {
    height: 20px;
    font-size: 10px;
    color: #0F465E;
    border-bottom: 1px dashed gray;
    padding-top: 5px;
}

.album-table-checkbox {
    width: 5%;
    text-align: center;
}

.album-table-number{
    width: 10%;
    text-align: center;
}

.album-table-song {
    width: 45%;
    text-align: left;
}

.album-table-artist {
    width: 30%;
    text-align: left;
}